<main>
  <!-- In case of error, you should display div with class "errorContainer" -->
  <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

  <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

  <div class="login-box">
    <h1>Login</h1>
    {{!-- <form action="#" method=""> --}}
    <form method="POST"> {{!-- Making Get and Post to the same page means I can remove the action="" --}}
      <label>Email</label>
      <input type="text" name="email" placeholder="Email.." /> {{!-- should put the name="" --}}
      <label>Password</label>
      <input type="password" name="password" placeholder="Password.." /> {{!-- should put the name="" --}}
      <input type="submit" value="Submit" />
    </form>
    <p>Not have an account? <a href="/register">Register here</a></p> {{!-- should put the href="" --}}
  </div>
</main>